<div class="main">
  <h1>About</h1>
  <p>
    This is a simple weather app made with Angular. It uses the
    <a href="https://www.weatherapi.com/" target="_blank">WeatherAPI</a> to
    fetch the weather data.
  </p>
  <p>
    The app has two main pages: <strong>Home</strong> and
    <strong>About</strong>.
  </p>
  <br />
  <p>
    The <strong>Home</strong> page is the main page of the app. It shows the
    weather of a place that the user searches for.
  </p>
  <p>
    The <strong>About</strong> page is this page. It shows a brief description
    of the app and the technologies used to build it.
  </p>
  <br />
  <p>The app uses the following technologies:</p>
  <ul>
    <li>Angular 17+</li>
    <li>WeatherAPI</li>
  </ul>
  <br />
  <p>
    The app is open source and the code is available on my
    <a
      href="https://github.com/samuelbaldasso/angular-weather-app"
      target="_blank"
      >GitHub</a
    >.
  </p>
</div>
