.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
  margin: 20px;
  padding: 16px;
  background-color: #f2f2f2;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

footer {
  margin-top: 20px;
  padding: 16px;
  text-align: center;
}
